@media only screen and (max-width: 768px) {
  /** Styles default */

  header {
    display: none;
  }

  /** btn_theme_one */
  .btn_theme_one {
    padding: 1.5rem 3%;
  }

  /** Styles default ends */

  .navbar-bottom {
    display: none;
  }

  .navbar-mobile {
    display: flex;
  }

  /** Mega banner start */
  .mega-banner {
    margin-top: 3rem;
  }

  .mega-banner .box-container {
    flex-direction: column;
  }

  .box_mega-banner .box img {
    width: 100%;
  }

  .mega-banner .box-container .box_medium-banner {
    width: 100%;
    height: 40%;
    flex-direction: row;
    gap: 2rem;
  }

  .mega-banner .box-container .box_medium-banner .box {
    width: 50%;
  }

  /** Mega banner ends */

  /** Styles Carousel products start */

  .products .box-container .box .card-styles .card-footer .box-btn {
    width: 100%;
  }

  /** Styles Carousel products ends */

  /** Leader board start*/

  .loader-banner .box-container {
    height: 15rem;
  }

  .loader-banner .box-container img {
    height: 100%;
    object-fit: cover;
  }
  /** Leader board start*/

  .card-styles {
    max-width: 40rem;
  }

  .products .box-container .box .card-styles .card-body {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /** Panels Promo */

  .panels-promos .box-container .box-items .box {
    width: 100%;
  }

  /** Section service */
  .services .box-container {
    display: flex;
    flex-direction: column;
  }

  /** Page Products */
  .heading-section {
    margin-top: 8rem;
  }

  .grid-products .box-container {
    flex-direction: column;
  }
  .grid-products .box-container .box-sidebar {
    display: none;
  }
  .box-filter_mobile {
    display: block;
  }
  /** Page Cart */
  .cart .box-container {
    flex-direction: column;
  }

  .cart .box-container .box {
    width: 100%;
  }

  /** Product Detail */

  .product_detail .box-container {
    flex-direction: column;
  }

  .product_detail .box-container .box {
    width: 100%;
  }

  .product_detail .box-container .img-container {
    flex-flow: row wrap;
  }

  .product_detail .box-container .img-container .small-image {
    flex-flow: row;
  }

  .product_detail .box-container .img-container .big-image img {
    height: auto;
    width: 100%;
  }

  .product_detail .box-container .img-container .small-image img {
    height: 10rem;
    width: 10rem;
  }

  /** account */
  .account_forms .box-container{
    flex-flow: column;
 
  }

  .account_forms .box-container .box{
    width: 100%;
  }

  footer .box-container {
    padding: 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
