@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --bg-button-one: #90d52c;
  --bg-button-one-hover: #75cb36;
  --bg-color-1: #eee;
  --bg-navbar: #4bbc44;
  --bg-footer: #000000;
  --box-shadow-one: box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  /** Font Colors */
  --color-title-widget: #3D3B40;
  --color-price: #005B41;
  --color-price-old: #E94560;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

/** Styles generals */

html {
  font-size: 65%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: white;
}

html::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 4rem;
}

body {
  background: var(--bg-color-1);
}

section {
  padding: 3rem 9%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/** Titulos */
.heading-section {
  margin-top: 15rem;
  margin-bottom: -10rem;
}

.heading-section .box-container {
  padding: 0.5rem 1.4rem;
}

.heading-section .box-container h5 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 2rem;
}

.heading-section .box-container nav ol li {
  font-size: 1.6rem;
}


.input_form {
  width: 100%;
  border: solid 1px gray;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

/** Input Style */
.inputContainer {
  position: relative;
  height: 45px;
  width: 100%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid var(--bg-button-one);
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 5;
  color: #383838;
}

.label {
  position: absolute;
  top: 10px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: var(--bg-button-one);
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

/* Hide the placeholder texts (a) */

::placeholder {
  color: transparent;
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 5;
  font-size: 14px;
  font-weight: 600;
  color: var(--bg-button-one-hover);
}

.input:focus {
  border: 2px solid var(--bg-button-one-hover);
}

.input:not(:placeholder-shown)+ .label {
  top: -12px;
  left: 3px;
  z-index: 5;
  font-size: 14px;
  font-weight: 600;
}

.btn_theme_one {
  margin-top: 0.5rem;
  display: inline-block;
  padding: .5rem 3%;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.7rem;
  width: 100%;
  color: white;
  box-shadow: var(--box-shadow-one);
  background-color: var(--bg-button-one);
}

.btn_theme_one:hover {
  background-color: var(--bg-button-one-hover);
}

.widget-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  height: 4rem;
  border: solid 1px #0fa534;
  background-color: white;
  border-radius: 0.5rem;
}

.widget-count .add button,
.widget-count .remove button {
  padding: 1rem 0.5rem;
  color: #0fa534;
  width: 3rem;
  background-color: white;
  border: solid 1px #0fa534;
  border-radius: 0.5rem;
}

.widget-count .box {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.widget-count .box input {
  width: 100%;
  font-size: 2rem;
  background: white;
  color: black;
  text-align: center;
  font-weight: 600;
}



header {
  height: 10rem;
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 447;
  background-color: #ffffff;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
}

header nav .logo {
  width: 20rem;
}

header nav .logo img {
  width: 100%;
}

header nav .container-form_search .search-form {
  border-radius: 5rem;
  height: 4rem;
  width: 50rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

header nav .container-form_search .search-form input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #000000;
  padding: 1rem;
}

header nav .menu_navigations .icons-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

/**  Icons for user */
header nav .menu_navigations .icons-menu li a i {
  font-size: 2.5rem;
  color: #000000;
  padding: 1.2rem;
}

header nav .menu_navigations .icons-menu .drowp_menu:hover .menu_user {
  display: flex;
}

.menu_user {
  position: absolute;
  z-index: 999;
  display: none;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 18rem;
  top: 65%;
  right: 2%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.menu_user li {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.menu_user li:hover {
  color: #388dfd;
  padding-left: 2rem;
}

header nav .menu_navigations ul li a span {
  color: white;
  font-size: 1.2rem;
}

.navbar-bottom {
  position: fixed;
  left: 0;
  right: 0;
  top: 10rem;
  z-index: 9;
  background-color: var(--bg-navbar);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

.navbar-bottom .box_navbar_bottom {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  padding: 0.5rem;
}

.navbar-bottom .box_navbar_bottom li a {
  font-size: 2rem;
  padding: 1rem;
  color: white;
}

.navbar-bottom .box_navbar_bottom .drowp_menu:hover .menu_category {
  display: block;
}

.menu_category {
  display: none;
  position: absolute;
  border-radius: 0.5rem;
  width: 18rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding-left: 0;
}

.navbar-bottom .box_navbar_bottom li .menu_category li a {
  color: #000000;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0.5rem;
  cursor: pointer;
}

.navbar-bottom .box_navbar_bottom li .menu_category li:hover a {
  color: #388dfd;
  padding-left: 2rem;
}

.navbar-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: #388dfd;
  padding: 0 3rem;
  height: 8rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 447;
}

.navbar-mobile .icon-mobile-menu i {
  font-size: 3.5rem;
  color: white;
}

.navbar-mobile .box-search .search_form {
  border-radius: 5rem;
  padding: 0 0.5rem;
  width: 25rem;
  background-color: #eee;
}

.navbar-mobile .box-search .search_form input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: black;
  padding: 1rem;
}

.mobile_menu {
  width: 60%;
  display: none;
  height: auto;
  background-color: #ffffff;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 8rem;
  border-radius: 0 0 5rem;
  padding: 0 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.mobile_menu.active {
  display: block;
}

.mobile_menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mobile_menu ul li {
  padding-left: 0;
  width: 100%;
  margin-top: 2rem;
}

.mobile_menu ul li:hover {
  padding-left: 2rem;
}

.mobile_menu ul li a {
  font-size: 2.5rem;
  color: #033d3d;
}

/** Titles sections  styles */
.heading {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 4rem;
  padding-bottom: 2rem;
}

/** Widget products slide*/

.products .box-container {
  padding: 2rem 5rem;
  background-color: white;
  border-radius: 0.5rem;
}

.products .box-container .header {
  font-size: 2rem;
  color: var(--color-title-widget);
}

/**! Cards */
.card-styles {
  max-width: 20rem;
}

.card-styles .box-img {
  padding: 0.6rem;
}

.card-styles .card-body {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-styles .card-body span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-title-widget);
}

.card-styles .card-footer .price {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0;
}

.card-styles .card-footer .price span {
  color: var(--color-price-old);
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: line-through;
}

.card-styles .card-footer .price h5 {
  color: var(--color-price);
  font-size: 2.3rem;
}

/** Titles sections  styles */

/** Mega banners Start */

.mega-banner {
  margin-top: 12rem;
}

.mega-banner .box-container {
  display: flex;
  margin: 5rem 2%;
  gap: 2rem;
}

.mega-banner .box-container .box_mega-banner {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}


.mega-banner .box-container .box_medium-banner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  height: 370px;
}

.mega-banner .box-container .box_medium-banner .box {
  height: 50%;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}


.mega-banner .box-container .box_medium-banner .box img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}



/** Mega banner ends */

/** Leader board start*/
.loader-banner {
  margin-top: 0rem;
  padding: 0 9%;
}

.loader-banner .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}

.loader-banner .box-container img {
  width: 100%;
  border-radius: 0.5rem;
}

/** Leader board start*/


/** Section Panels Promos */
.panels-promos .box-container {
  padding: 5rem 5%;
  background-color: white;
}

.panels-promos .box-container .header {
  font-size: 2rem;
  color: var(--color-title-widget);
}

.panels-promos .box-container .box-items {
  display: flex;
  gap: 2rem;
}


/** Parnets styles */
.parnets .box-container .marcas .box {
  width: 15rem;
  padding: 0.5rem;
 
}

.parnets .box-container .marcas .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.parnets .box-container .box img {
  width: 80%;
}

/** Services styles */
.services .box-container {
  padding: 5rem 9%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  justify-content: space-around;
  gap: 1.5rem;
}

.services .box-container .box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.services .box-container .box span {
  font-size: 2rem;
  font-weight: 400;
  margin-left: 1rem;
  color: var(--color-title-widget);
}

.services .box-container .box i {
  font-size: 2rem;
  color: var(--bg-navbar);
}

/** Acoount Style pague */

.account_forms {
  margin-top: 5rem;
}

.account_forms .box-container {
  margin-top: 12rem;
  padding: 2rem 3%;
  display: flex;
  gap: 5rem;
}

.account_forms .box-container .box {
  width: 70%;
  padding: 2rem 2.7rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.account_forms .box-container .box .title h5 {
  font-size: 2.8rem;
}

.account_forms .box-container .box .form_container {
  font-size: 1.5rem;
}

.account_forms .box-container .form-login {
  height: 35rem;
}

.account_forms .box-container .box-for-register {
  height: 15rem;
}

.hidden_form-logout {
  display: none;
}

/** Account Style End */

/** Products Page Start */


.grid-products .box-container {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}

.grid-products .box-container .box-sidebar {
  width: 20rem;
  height: 25rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.grid-products .box-container .box-sidebar ul li {
  margin-top: 0.5rem;
}

.grid-products .box-container .box-sidebar ul li a {
  font-size: 1.5rem;
  color: black;
}

.grid-products .box-container .box-content {
  width: 100%;
  padding: 1rem 1.2rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.grid-products .box-container .box-header {
  border-bottom: solid 1px gray;
  font-size: 1.3rem;
}

.grid-products .box-container .box-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.grid-products .box-container .box-pagination {
  font-size: 1.5rem;
}

.box-filter_mobile {
  display: none;
}

.box-filter_mobile ul li {
  font-size: 2rem;
  font-weight: 600;
}

/** Products Style End */

/** Cart Style */
.cart {
  margin-top: 15rem;
}

.cart .box-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.cart .box-container .box {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.3rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.cart .box-container .cart-box {
  display: flex;
  flex-direction: column;
  width: 55rem;
  height: auto;
}

.cart .box-container .box-payment {
  width: 30rem;
  padding: 1.5rem 2rem;
}

.cart .box-container .cart-box .box-title span {
  font-size: 2rem;
  font-weight: 500;
}

.cart .box-container .cart-box .box-product {
  display: flex;
  justify-content: space-between;
}

.cart .box-container .cart-box .box-product .img-product {
  width: 10rem;
  height: 10rem;
}

.cart .box-container .cart-box .box-product .img-product img {
  width: 100%;
  height: 100%;
}

.cart .box-container .box-payment .box-title span {
  font-size: 2.5rem;
  font-weight: 600;
}

.cart .box-container .box-payment .box-total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5rem;
}

/** Cart Style End */
/** Profile Page */
.my-profile {
  margin-top: 16rem;

}



.my-profile .box-container {
  display: flex;
  flex-direction: column;
  padding: 5rem 9%;
  background-color: white;
  box-shadow: var(--box-shadow-one);
}


.my-profile .box-container .header-profile ul li a{
  font-size: 1.5rem;
  color: var(--color-title-widget);
}

.my-profile .box-container .header-profile ul li a.active{
  border: solid 1px #0fa534;
  background: none;
}

.my-profile .box-container label {
  font-size: 1.5rem;
}

/** Profile end */

/** Product Detail page start */
.product_detail {
  margin-top: 2rem;
  padding: 0;
}

.product_detail .box-container {
  display: flex;
  padding: 5rem 9%;
  gap: 3rem;
}

.product_detail .box-container .box {
  width: 50%;
  padding: 2rem;
}

.product_detail .box-container .img-container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 2rem;

}

.product_detail .box-container .img-container .big-image img {
  cursor: pointer;
  height: 40rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.product_detail .box-container .img-container .small-image {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  gap: 1rem;

}

.product_detail .box-container .img-container .small-image img {
  height: 10rem;
  width: 12rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  cursor: pointer;
}

.product_detail .box-container .img-container .small-image img.image-active,
.product_detail .box-container .img-container .small-image img:hover {
  border: .2rem solid green;
}


.product_detail .box-container .box .title span {
  font-size: 2rem;
  font-weight: 700;
  color: #0e4141;
  text-transform: capitalize;
}

.product_detail .box-container .box .sku {
  margin-top: 1.5rem;
}

.product_detail .box-container .box .sku span {
  font-size: 1.5rem;
  font-weight: 400;
  color: #383838;
  text-transform: capitalize;
}

.product_detail .box-container .box .box-body .box-price .price_total span {
  font-size: 3rem;
  font-weight: 700;
  color: #3b8a31;
}

.product_detail .box-container .box .box-body .box-price .old_price span {
  font-size: 2.2rem;
  font-weight: 500;
  color: #757e74;
  text-decoration: line-through;
}

.product_detail .box-container .box .box-body .box-count {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.product_detail .box-container .box .box-body .box-count .box-button {
  width: 23rem;
}

/** Product Detail page end */

/** Historial */
.box-history{

  border-radius: .2rem;
  padding: 1.5rem;
 box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.box-history .header{
  display: flex;
}

.box-history .header span{
  display: block;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.box-history .body{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-history .body .box-img{
  width: 15rem;
}

.box-history .body .box-img img{
  width: 100%;
}

.box-history .body .box-title h6{
  font-size: 1.8rem;
  font-weight: 400;
  color: gray;
}

.box-history .body .box-details .price h6{
  font-size: 3rem;
}

.box-history .body .box-details .send{
  font-size: 1.2rem;
  margin-top: 1.4rem;
  font-weight: 400;
  color: gray;
}

/** Historial end */


/** Footer */
footer {
  background-color: #FFFFEC;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer .box-container {
  padding: 5rem 2%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1.5rem;
}

footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--bg-button-one);
  padding: 1rem 0;
}

footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: var(--color-title-widget);
  padding: 1rem 0;
}



footer .box-container .box a i {
  padding-right: 0.5rem;
}


.box-social h3 {
  font-size: 2.5rem;
  color: var(--bg-button-one);
  padding: 1rem 0;
}

.box-social a {
  margin: 1rem;
}

.box-social a img {
  width: 4rem;
}