:root{
    --bg-side-bar:#EEF5FF;
    --bg-navbar:#3081D0;
    --hover-side-item:#C1F2B0;
}



.bg_sidebar{
    background-color: var(--bg-side-bar);
}
.bg_navbar{
    background-color: var(--bg-navbar);
}

.icon-side{
    font-size: 1.3rem;
    color: #092635;
}

.logo-sidebar{
    margin: 0.5rem 0.5rem;
}
.logo-sidebar span{
    padding-left: 0.5rem;
    font-size: 1.6rem;
}

.logo-sidebar img{
    height: 4rem;
    width: 4rem;
}


.item-side:hover{
    background-color: var(--hover-side-item);
    border-radius: 0.4rem;
    width: 80%;
}
.link-side{
    font-size: 1rem;
    font-weight: 500;
    
}

.link-side p{
    color: #092635;
}

.sub-links a i,p{
    color: #092635;
    font-weight: 500;
}

.bg-add{
    background-color: #9ADE7B;
}

.bg-add:hover{
    background-color: #aee495;
}

