:root {
  --bg-side-bar: #eef5ff;
  --bg-navbar: ##75cb36;
  --hover-side-item: #c1f2b0;
  /** Buttons Colors */
  --bg--widget:#FEFCF3;

  --bg-btn-error:#ff004d;
  --bg-btn-update:#3AB0FF;
  --bg-btn-ad:#5FD068;
}

img {
  width: 100%;
  height: 100%;
}
.box-widget{
    background-color: var(--bg--widget);
}

.group-btn button i{
font-weight: 600;
font-size: 1.3rem;
}

button .btn-error-icon{
   color: var(--bg-btn-error);
  
}

button .btn-update-icon{
   color: var(--bg-btn-update);

}

button .btn-enable-icon{
   color: var(--bg-btn-ad);

}

/** buttons themes */
.btn-theme-one {
  padding: 0.5rem 3%;
  border-radius: 0.5rem;
  border: solid 1px #3887BE;
  background-color: #4CB9E7;
  color: #fff;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.btn-theme-one:hover{
    background-color: #3887BE ;
    border: solid 1px #4CB9E7;
}

.btn-theme-two {
  padding: 0.5rem 3%;
  border-radius: 0.5rem;
  border: solid 1px #DF7861;
  background-color: #DD4A48;
  color: #fff;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.btn-theme-two:hover{
    background-color: #DF7861;
    border: solid 1px #DD4A48;
}



/** admin lte */
.main-sidebar .box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 9%;
}

.main-sidebar .box-logo .box {
  width: 50%;
}

.main-sidebar .box-logo .box span {
  color: white;
  font-weight: 600;
}

.main-sidebar .box-logo .box img {
  width: 5rem;
}

/** categories */
.content .container-box{
  padding: 1rem 2%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.content .container-box .box{
  background: white;
  border: solid 1px gray;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 0.5rem;
  padding: 0.5rem;

}

.content .container-box .box-form{
  height: auto;
}

.panels .box-container{
  padding: 2rem 2%;
  display: flex;
  gap: 2rem;
}

.panels .box-container .box{
  width: 13rem;
  height: 5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding:  0.5rem;
  background-color: #ffffff;
}


.panels .box-container .box .box-title h6{
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.panels .box-container .box span{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  display: inline-block;
}